@page
@model AuthCenterWebApp.Areas.Settings.Pages.Organizations.IndexModel
@{
    ViewBag.Title = L["Your organizations"];
}
@Html.DisplayFor(m => m.Result)
<h2>@L["Organizations"]</h2>
<form method="post" asp-page-handler="Leave">
    <div class="list-group list-group-hoverable">
        @foreach (var member in Model.Members)
        {
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="avatar" style="background-image: url('/img/no-picture-avatar.png')"></span>
                    </div>
                    <div class="col text-truncate">
                        <h3>
                            <a asp-area="Organization" asp-page="/Index" asp-route-anchor="@member.Organization.Name">@member.Organization.Name</a>
                            @if (member.IsOwner)
                            {
                                <span class="badge badge-pill" title="@L["You are the owner of this organization."]">@L["Owner"]</span>
                            }
                        </h3>
                    </div>
                    <div class="col-auto">
                            <button type="submit" name="organizationId" value="@member.OrganizationId" onclick="return confirm('@(L["Are you sure you want to leave from this organization?"])');" class="btn text-danger list-group-item-actions">@L["Leave"]</button>
                    </div>
                </div>
            </div>
        }
    </div>

</form>
<hr />
<a asp-page="New" class="btn">@L["New organization"]</a>
