@page "{anchor}"
@model AdminWebApp.Areas.SystemSettings.Pages.DirectoryService.IndexModel
@{
    ViewBag.Title = $"Detail of {Model.Data.Name}";
}

<h1>@Model.Data.Name</h1>

<dl>
    <dt>Server</dt>
    <dd>@Model.Data.ServerAddress</dd>
    <dt>Root DN</dt>
    <dd>@Model.Data.RootDn</dd>
    <dt>Default User OU</dt>
    <dd>@Model.Data.DefaultUserAccountContainer</dd>
    <dt>UPN suffix</dt>
    <dd>@Model.Data.UpnSuffix</dd>
    <dt>SAM Domain Part</dt>
    <dd>@Model.Data.SamDomainPart</dd>
    <dt>External Login Provider</dt>
    <dd>@Model.Data.ExternalLoginProvider?.DisplayName (@Model.Data.ExternalLoginProvider?.Name)</dd>
</dl>

<a asp-page="Delete" asp-route-anchor="@Model.Data.Id" class="btn btn-danger">Delete service</a>