@using AlphaIdPlatform.Security
@inject NaturalPersonManager UserManager
@inject IOptions<ProductInfo> Product
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    var person = await UserManager.GetUserAsync(User);
}

@section Heads {
    @await RenderSectionAsync("Heads", false)
}

@section Navbar {
    @await RenderSectionAsync("Navbar", false)
}

<div class="page-header">
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="avatar avatar-lg rounded" style="background-image: url('@User.AvatarUrl()')"></span>
            </div>
            <div class="col">
                <h1 class="fw-bold">@person?.PersonName.FullName</h1>
                <p>@L["Your personal account"]</p>
            </div>
            <div class="col-auto ms-auto">
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-md-2 border-end">
                    <div class="card-body">
                        <div class="list-group list-group-transparent">
                            <a asp-page="/Profile/Index" asp-path="/Settings/Profile" class="list-group-item list-group-item-action d-flex align-items-center">@L["Profile"]</a>
                            <a asp-page="/Account/Index" asp-path="/Settings/Account" class="list-group-item list-group-item-action d-flex align-items-center">@L["Account"]</a>
                            <a asp-page="/Authentication/Index" asp-path="/Settings/Authentication" class="list-group-item list-group-item-action d-flex align-items-center">@L["Password and authentication"]</a>
                            <a asp-page="/Organizations/Index" asp-path="/Settings/Organizations" class="list-group-item list-group-item-action d-flex align-items-center">@L["Organizations"]</a>
                            @if (Product.Value.Feature.RealName)
                            {
                                <a asp-page="/RealName/Index" asp-path="/Settings/RealName" class="list-group-item list-group-item-action d-flex align-items-center">@L["Real-name Authentication"]</a>
                            }
                            @* <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Billing &amp; Invoices</a> *@
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 d-flex flex-column">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}