@page
@inject IOptions<ProductInfo> Product
@model IndexModel
@{
    ViewBag.Title = L["Account"];
}

<h2>@L["Account"]</h2>

<a asp-page="ChangeUserName" class="btn">@L["Change your user name"]</a>
<a asp-page="Mobile" class="btn">@L["Change your phone number"]</a>
<a asp-page="Email" class="btn">@L["Change your email"]</a>


<h3>@L["Personal Data"]</h3>
<a asp-page="PersonalData" class="btn">@L["Manage personal data"]</a>

@if (Product.Value.Feature.DirectoryAccountManagement)
{
    <h3>@L["Managed Directory Accounts"]</h3>
    <table class="table">
        <thead>
            <tr>
                <td>@L["Directory Service"]</td>
                <td>@L["Object Id"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.DirectoryAccounts)
            {
                <tr>
                    <td>@account.DirectoryServiceDescriptor.Name</td>
                    <td>@account.ObjectId</td>
                </tr>
            }
        </tbody>
    </table>
}
